# System & IDE Files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Python Caches & Compiled files
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Node dependencies
node_modules/
**/node_modules/

# Non-web script files in this directory
/VSC_CP.py
/VSC_FT.py
